<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Agence de nottoyage</title> <!-- mettez un titre significatif-->
  <link rel="stylesheet" href="../css/home.css"> <!-- Utilisez le chemain relatif au fichier CSS-->
</head>
<body>
    <header>
        <nav class="container">
            <div class="logo-container"> <span class="letter">N</span>etpur<span class="letter">s</span>hine
             <!--   <img src="../img/logo-agencenet.png" alt="logo du site" class="logo">-->
            </div> 
            <div class="parent-link">
                <a href="#" class="social-links"> Notre Agence </a>
                <a href="#" class="social-links"> Nos valeurs </a>
                <a href="#" class="social-links"> Nos services </a>
                <a href="#" class="social-links"> Demander un devis </a>
            </div>
            <!-- 
            <div class="icon">
                <a href="#" target="_blank" class="sm-icon"><ion-icon name="logo-instagram"></ion-icon>
                <a href="#" target="_blank" class="sm-icon"><ion-icon name="logo-facebook"></ion-icon>
                <a href="#" target="_blank" class="sm-icon"><ion-icon name="logo-likedin"></ion-icon>
                <a href="#" target="_blank" class="sm-icon"><ion-icon name="logo-tiktok"></ion-icon>
            </div>
           -->
        </nav>
        <div class="header-container">
            <div class="hdr-container-inner">
                <h1>Votre Espace, notre éclat</h1>
                <p>
                    Dites au revoir à vos tâches <br>NetPurshine prend en charge toutes vos tâches</br>.
                    Profitez de la souplesse du service, à la semaine ou à la quinzaine
                </p>
                 <a href="#" class="btn">Demander un devis</a>
            </div>
        </div>

    </header>
    <main>
    <!--    <section class="banner">
            <div class="slogan">
                <p> La propriété, notre priorité</p>
            </div>
            <div class="devis-description">
                <div class="devis"><a href="#">Demander un devis</a></div>
                <div class="description">
                <p>Dites au revoir à vos tâches ménagères.<br/> Adèle prend en charge le ménage dans votre maison ou appartement.<br/>
                    Profitez de la souplesse du service, à la semaine ou à la quinzaine. <br>Trouvez rapidement votre aide-ménagère qualifiée à un prix juste!</br>
                </p>
                </div>
            </div>
        </section> -->
        <section class="contrat-prestation" >
            <div class="contrat-container">
                <p><span class="contrat">Un contrat d’entretien régulier ? <br>Contactez-nous</br></span></p>
                <p>Nos agents de ménage interviennent à votre domicile avec leur matériel et produits d’entretien.
                    Ces intervenants, formés aux techniques Adèle, réalisent des prestations de ménage à domicile pour un résultat professionnel. Vous retrouvez un intérieur parfaitement nettoyé, comme si vous étiez à l’hôtel.
                </p>
            </div>
            <div class="prestations-container">
                <p> Ménage, entretien régulier de maison ou d’appartement, entretien de maisons de vacances…
                    nous sommes à votre écoute pour élaborer la solution qui vous convient le mieux.
                </p>
                <div class="prestations"><a href="#" class="text-prestations">Découvrez nos prestations </a></div>
            </div>
        </section>
        <section class="commentaire-container">
            <div class="comments">
                <div class="comment"> ici les commentairex</div>
                <div class="comment"> ici les commentairex</div>
                <div class="comment"> ici les commentairex</div>
                <div class="comment"> ici les commentairex</div>
            </div>
        </section>
        <section class="block">
            <div class="block1">
                <div class="produit">
                    <p class="produit-text"><span class="gras">ménage de qualité professionnelle à prix fixe</span></p></br>
                    Adèle propose une véritable alternative aux services de ménage à domicile traditionnels :</br>
                    Une femme de ménage ou un homme de ménage professionnel et discret.</br>
                    Un service confortable, fiable et de qualité.</br>
                    Un prix juste et fixé à l’avance.
                    </p>
                </div>
            </div>
            <div class="block2">
                <div class="produit">
                    <p class="produit-text"><span class="gras" >plus du ménage à domicile Adèle :</span> </br>
                        matériel et produits d’entretien inclus, estimation gratuite à votre domicile, 50% de réduction d’impôt (selon l’article 199 sexdecies du CGI), un ménage de qualité, des intervenants formés et professionnels, un résultat garanti exceptionnel.
                    </p>
                    <a href="#" class="tarif">Consulter nos tarifs</a>
                </div>
            </div>
        </section>
        <div> 
            <img src="" alt="">
            <p>Adèle ménage en quelques mots
                Adèle hausse les standards de notre domaine d’activité et redonne ses lettres de noblesse au métier de professionnels du ménage à domicile.
                
                Un savoir-faire exceptionnel en entretien ménager.
                Un respect des valeurs humaines et de la déontologie.
                Une mise en place de process éprouvés.
                Adèle se spécialise exclusivement sur un métier : le ménage à domicile pour les particuliers.
                
                Le réseau d’agences de ménage Adèle a été créé au Canada en 1994. Depuis sa création, les équipes de la société s’attachent à trouver les techniques et les produits les plus adaptés à l’entretien ménager. 
                Concrètement, cette volonté se traduit par l’acquisition un savoir-faire spécifique et exclusif dans le métier du ménage à domicile.
            </p>
        </div>
        <section contact-container>
           
        </section>
    </main>
    <!--
    <footer>
        <div class="icon">
                <a href="https://www.instagram.com/maycar_fz" target="_blank">
                    <img src="../img/insta.jpeg" alt="instagram" class="sm-icon">
                </a>
                <a href="#" target="_blank">
                    <img src="../img/facebook.jpeg" alt="Facebook" class="sm-icon">
                </a>
                <a href="#" target="_blank">
                    <img src="../img/likedin.jpeg" alt="linkedin" class="sm-icon">
                </a>
            </div>
        <div>
            <a href="tel:+33621488456"> 0621488456</a>
            <a href="mailto:mfezaud@gmail.com">Envoyez nous un mail</a>
        </div>
    </footer>
    -->
</body>
</html>